* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-spacing: 0;
  box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
}

.first {
    height: auto;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.img-wrapper img {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -100;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-wrapper {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;
}

.above {
    min-height: 100vh;
    width: 100%;
    background-color: rgba(19, 19, 19, 0.6);
}

.first-container {
    width: 100%;
  padding: 20px;
    padding-top: 250px;

  display: flex;
    padding-bottom: 150px;
}

.texte-first {
  width: 40%;
    color: white;
    margin: 0 auto;
  border-radius: 30px;
  backdrop-filter: blur(6px);
  box-shadow: 0px 10px 25px -10px black;
  border: 2px solid black;
  -webkit-backdrop-filter: blur(6px); /* compatibilité avec safari */
}

.texte-first h1, .texte-first2 h1 {
    font-size: 3rem;
    text-align: center;
}


.texte-first p, .texte-first2 p {
    text-align: center;
    font-size: 1.2rem;
}